@keyframes appearAnimation {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.appear-animation {
  animation: appearAnimation 0.3s ease-out forwards;
  opacity: 0;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.grow-animation {
  animation: grow 1.5s infinite;
}
